@font-face {
  font-family: "Inter-Black";
  font-display: swap;
  src: url("../fonts/Inter-Black.woff") format("woff"), url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter-ExtraBold";
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff") format("woff"), url("../fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Medium";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter-ExtraLight";
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff") format("woff"), url("../fonts/Inter-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "ITCAvantGardeStd-Md";
  font-display: swap;
  src: url("../fonts/ITCAvantGardeStd-Md.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Md.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter-SemiBold";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Regular";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Thin";
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff") format("woff"), url("../fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Light";
  font-display: swap;
  src: url("../fonts/Inter-Light.woff") format("woff"), url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  border: 1px solid black;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: -99999px;
}

.visible {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.join {
  width: 100%;
  height: 62px;
  background-color: #1A222B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.join__text {
  color: #fff;
  line-height: 21px;
  font-size: 17px;
  font-family: "Inter-Regular", sans-serif;
}

.join__text__link {
  color: #fff;
  font-family: "Inter-Bold";
  text-decoration: none;
}

.join__text__link:hover {
  text-decoration: underline;
}

.header {
  width: 94%;
  padding-top: 10px;
  margin: 0 auto;
  margin-bottom: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo__img {
  margin-right: 4.91px;
}

.header__logo__text {
  color: #000;
  line-height: 80px;
  font-size: 37px;
  font-family: "ITCAvantGardeStd-Md", sans-serif;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__content__open,
.header__content__close {
  display: none;
}

.header__content__nav #tel {
  display: none;
}

.header__content__nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__content__nav__item {
  margin-right: 34px;
}

.header__content__nav__link {
  color: #000;
  line-height: 21px;
  font-size: 17px;
  font-family: "Inter-Regular", sans-serif;
  text-decoration: none;
}

.header__content__nav__link:hover {
  text-decoration: underline;
}

.header__content__nav__link:active {
  text-decoration: none;
}

.header__content__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__content__social__tel {
  color: #000;
  line-height: 33px;
  font-size: 27px;
  font-family: "Inter-Bold", sans-serif;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.header__content__social__tel::before {
  content: url("../img/ico-tel.svg");
  margin: 3px 12px 0 0;
}

.header__content__social__tel:hover {
  text-decoration: underline;
}

.header__content__social__tel-2,
.header__content__social__telegram,
.header__content__social__whatsapp {
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  text-decoration: none;
}

.header__content__social__tel-2 {
  background-color: #A378F1;
  background-image: url("../img/ico-tel-2.svg");
  margin-right: 8px;
}

.header__content__social__telegram {
  background-color: #00A7E1;
  background-image: url("../img/ico-telegram.svg");
  margin-right: 8px;
}

.header__content__social__whatsapp {
  background-color: #64B243;
  background-image: url("../img/ico-whatsapp.svg");
}

.main {
  width: 94%;
  margin: 0 auto 41px;
}

.main__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 76px;
}

.main__start__content {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__start__content__title {
  color: #000;
  line-height: 80px;
  font-size: 66px;
  font-family: "Inter-Bold", sans-serif;
  width: 729px;
  margin-bottom: 42px;
}

.main__start__content__text {
  color: #000;
  line-height: 27px;
  font-size: 22px;
  font-family: "Inter-Light", sans-serif;
  width: 732px;
  margin-bottom: 80px;
}

.main__start__content__btn {
  width: 189px;
  color: #fff;
  line-height: 27px;
  font-size: 22px;
  font-family: "Inter-Bold", sans-serif;
  background-color: #000;
  border-radius: 5px;
  padding: 21px 23px 20px 24px;
  text-decoration: none;
}

.main__start__photo {
  position: relative;
}

.main__start__photo-1 {
  position: absolute;
  top: -31px;
  left: -65px;
}

.main__start__photo-2 {
  position: absolute;
  top: 74px;
  right: 15px;
}

.main__start__photo-3 {
  position: absolute;
  top: 171px;
  right: 202.91px;
}

.main__start__photo-4 {
  position: absolute;
  top: 157px;
  left: 11px;
}

.main__start__photo-5 {
  position: absolute;
  top: 401px;
  right: 40px;
}

.main__start__photo-6 {
  position: absolute;
  left: -60px;
  top: 432px;
}

.main__sponsors {
  width: 100%;
  margin-bottom: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main__slider {
  display: none;
}

.main__change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__change__ps {
  color: #A2ABB3;
  line-height: 14px;
  font-size: 16px;
  font-family: "Inter-Regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 63px;
}

.main__change__title {
  color: #000;
  line-height: 50px;
  font-size: 47px;
  font-family: "Inter-Bold", sans-serif;
  margin-bottom: 32px;
  width: 899px;
}

.main__change__text {
  color: #000;
  line-height: 27px;
  font-size: 22px;
  font-family: "Inter-Light", sans-serif;
  width: 896px;
  margin-bottom: 100px;
}

.main__change__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 116px;
}

.main__change__blocks__item {
  width: 422px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__change__blocks__item__img {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.main__change__blocks__item__topic {
  color: #000;
  line-height: 27px;
  font-size: 17px;
  font-family: "Inter-Regular", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
}

.main__change__blocks__item__topic::before {
  content: url("../img/ico-star.svg");
  margin: 3px 13px 0 0;
}

.main__change__blocks__item__title {
  color: #000;
  line-height: 30px;
  font-size: 26px;
  font-family: "Inter-Bold", sans-serif;
  width: 226px;
  margin-bottom: 25px;
}

.main__change__blocks__item__line {
  width: 95px;
  border: 1px solid #000000;
  opacity: .5;
  margin-bottom: 18px;
}

.main__change__blocks__item__text {
  color: #000;
  line-height: 22px;
  font-size: 16px;
  font-family: "Inter-Regular", sans-serif;
  margin-bottom: 30px;
  width: 408px;
}

.main__change__blocks__item__btn {
  width: 163px;
  height: 57px;
  background-color: #000;
  border: none;
  border-radius: 5px;
}

.main__change__blocks__item__btn:focus,
.main__change__blocks__item__btn:active {
  outline: none;
}

.main__change__blocks__item__btn__number {
  color: #fff;
  line-height: 27px;
  font-size: 22px;
  font-family: "Inter-Bold", sans-serif;
  padding-right: 4px;
}

.main__change__blocks__item__btn__currency {
  color: #fff;
  line-height: 27px;
  font-size: 12px;
  font-family: "Inter-Bold", sans-serif;
  text-transform: uppercase;
}

.main__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 62px;
}

.main__video__ps {
  color: #A2ABB3;
  line-height: 14px;
  font-size: 16px;
  font-family: "Inter-Regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 63px;
}

.main__video__title {
  color: #000;
  line-height: 50px;
  font-size: 47px;
  font-family: "Inter-Bold", sans-serif;
  margin-bottom: 12px;
  width: 899px;
}

.main__video__text {
  color: #000;
  line-height: 27px;
  font-size: 22px;
  font-family: "Inter-Light", sans-serif;
  margin-bottom: 60px;
  width: 853px;
}

.main__video__block {
  width: 100%;
  height: 915px;
  background: #F9F5F1;
  border: 3px solid #EAEBEB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__video__block__black {
  background-color: #010001;
  width: 92%;
  height: 813px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 62px;
}

.main__statistic__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 15px;
  position: relative;
}

.main__statistic__item__title {
  color: #1A222B;
  line-height: 50px;
  font-size: 27px;
  font-family: "Inter-Bold", sans-serif;
  margin-bottom: 3px;
}

.main__statistic__item__topic {
  color: #767A7F;
  line-height: 14px;
  font-size: 14px;
  font-family: "Inter-Bold", sans-serif;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.main__statistic__item__text {
  color: #000;
  line-height: 28px;
  font-size: 18px;
  font-family: "Inter-Regular", sans-serif;
  width: 291px;
}

.main__statistic__item::before {
  content: '';
  width: 2px;
  height: 24px;
  background-color: #DF635C;
  position: absolute;
  top: 13px;
  left: 0;
}

.main__video-2 {
  width: 100%;
  height: 639px;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin-bottom: 113px;
}

.main__students {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}

.main__students__ps {
  color: #A2ABB3;
  line-height: 14px;
  font-size: 16px;
  font-family: "Inter-Regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 63px;
}

.main__students__title {
  color: #000;
  line-height: 50px;
  font-size: 47px;
  font-family: "Inter-Bold", sans-serif;
  margin-bottom: 32px;
  width: 899px;
}

.main__students__text {
  color: #000;
  line-height: 27px;
  font-size: 22px;
  font-family: "Inter-Light", sans-serif;
  width: 896px;
  margin-bottom: 113px;
}

.main__students__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__students__blocks__item {
  width: 401px;
  min-height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 63px;
}

.main__students__blocks__item__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 16px;
}

.main__students__blocks__item__avatar__img {
  margin-right: 12px;
}

.main__students__blocks__item__avatar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__students__blocks__item__avatar__name {
  color: #1A222B;
  line-height: 27px;
  font-size: 19px;
  font-family: "Inter-Regular", sans-serif;
}

.main__students__blocks__item__avatar__job {
  color: #7C8084;
  line-height: 27px;
  font-size: 14px;
  font-family: "Inter-Regular", sans-serif;
}

.main__students__blocks__item__text {
  width: 100%;
  color: #000;
  line-height: 27px;
  font-size: 19px;
  font-family: "Inter-Light", sans-serif;
}

.main__online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__online__ps {
  color: #A2ABB3;
  line-height: 14px;
  font-size: 16px;
  font-family: "Inter-Regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 63px;
}

.main__online__title {
  color: #000;
  line-height: 50px;
  font-size: 47px;
  font-family: "Inter-Bold", sans-serif;
  margin-bottom: 63px;
  width: 899px;
}

.main__online__history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin-bottom: 114px;
}

.main__online__history__img {
  margin-right: 4.36%;
}

.main__online__history__content__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 40px;
}

.main__online__history__content__avatar__img {
  margin-right: 12px;
}

.main__online__history__content__avatar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__online__history__content__avatar__name {
  color: #1A222B;
  line-height: 27px;
  font-size: 19px;
  font-family: "Inter-Regular", sans-serif;
}

.main__online__history__content__avatar__job {
  color: #7C8084;
  line-height: 27px;
  font-size: 14px;
  font-family: "Inter-Regular", sans-serif;
}

.main__online__history__content__text {
  width: 523px;
  color: #000;
  line-height: 27px;
  font-size: 19px;
  font-family: "Inter-Light", sans-serif;
  margin-bottom: 30px;
}

.main__online__history__content__btn {
  color: #000;
  line-height: 21px;
  font-size: 17px;
  font-family: "Inter-Regular", sans-serif;
  padding: 15px 18px 15px 19px;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}

.main__online__history__content__btn:focus,
.main__online__history__content__btn:active {
  outline: none;
}

.main__online__history__content__btn:hover {
  cursor: pointer;
}

.main__do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 132px;
}

.main__do__ps {
  color: #A2ABB3;
  line-height: 14px;
  font-size: 16px;
  font-family: "Inter-Regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 63px;
}

.main__do__title {
  color: #000;
  line-height: 50px;
  font-size: 47px;
  font-family: "Inter-Bold", sans-serif;
  margin-bottom: 35px;
  width: 899px;
}

.main__do__text {
  color: #000;
  line-height: 27px;
  font-size: 22px;
  font-family: "Inter-Light", sans-serif;
  margin-bottom: 113px;
  width: 853px;
}

.main__do__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__do__blocks__item {
  width: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__do__blocks__item__number {
  color: #DF635C;
  line-height: 50px;
  font-size: 27px;
  font-family: "Inter-Bold", sans-serif;
  margin-bottom: 2px;
}

.main__do__blocks__item__title {
  color: #1A222B;
  line-height: 14px;
  font-size: 22px;
  font-family: "Inter-Bold", sans-serif;
  margin-bottom: 12px;
}

.main__do__blocks__item__text {
  color: #000;
  line-height: 28px;
  font-size: 18px;
  font-family: "Inter-Regular", sans-serif;
}

.main__finish {
  position: relative;
}

.main__finish__img {
  width: 100%;
  height: auto;
}

.main__finish__content {
  width: 584px;
  position: absolute;
  top: 32.8%;
  right: 9%;
}

.main__finish__content__title {
  color: #fff;
  line-height: 50px;
  font-size: 47px;
  font-family: "Inter-Bold", sans-serif;
}

.main__finish__content__text {
  color: #fff;
  line-height: 27px;
  font-size: 22px;
  font-family: "Inter-Light", sans-serif;
  margin: 32px 0 47px 0;
}

.main__finish__content__btn {
  color: #fff;
  line-height: 27px;
  font-size: 22px;
  font-family: "Inter-Bold", sans-serif;
  border: none;
  background-color: #000;
  padding: 21px 23px 20px 24px;
  border-radius: 5px;
}

.footer {
  width: 94%;
  margin: 0 auto 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 22px;
}

.footer__logo__img {
  margin-right: 4.91px;
}

.footer__logo__text {
  color: #000;
  line-height: 80px;
  font-size: 37px;
  font-family: "ITCAvantGardeStd-Md", sans-serif;
}

.footer__copy {
  width: 165px;
  color: #000;
  line-height: 28px;
  font-size: 18px;
  font-family: "Inter-Regular", sans-serif;
}

.footer__block {
  width: 323px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__block__title {
  color: #000;
  line-height: 28px;
  font-size: 14px;
  font-family: "Inter-Regular", sans-serif;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.footer__block__line {
  width: 100%;
  height: 2px;
  background-color: #EFF0F1;
  margin-bottom: 21px;
}

.footer__block__link {
  color: #000;
  line-height: 28px;
  font-size: 17px;
  font-family: "Inter-Regular", sans-serif;
  margin-bottom: 12px;
  text-decoration: none;
}

.footer__block__link:hover {
  text-decoration: underline;
}

.footer__block__link:active {
  text-decoration: none;
}

@media (max-width: 1420px) {
  .main__start {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main__start__content {
    padding-top: 0;
  }

  .main__start__content__title {
    width: 70%;
  }

  .main__start__content__text {
    width: 74%;
    margin-bottom: 40px;
  }

  .main__change__blocks {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main__change__blocks__item {
    margin-bottom: 60px;
  }

  .main__change__blocks__item:nth-child(1) {
    margin-right: 10%;
  }
}

@media (max-width: 1258px) {
  .main__students__blocks {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media (max-width: 1240px) {
  .main__statistic {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main__statistic__item {
    margin-bottom: 40px;
  }
}

@media (max-width: 1200px) {
  .main__finish__content {
    top: 17%;
  }
}

@media (max-width: 1150px) {
  .main__online__history__content__text {
    width: 100%;
  }
}

@media (max-width: 1075px) {
  .main__finish__content {
    right: 2%;
  }
}

@media (max-width: 1000px) {
  .join {
    display: none;
  }

  .header {
    margin-bottom: 63px;
  }

  .header__content__open,
  .header__content__close {
    display: block;
  }

  .header__content__open:hover,
  .header__content__close:hover {
    cursor: pointer;
  }

  .header__content__open,
  .header__content__close {
    color: #1A222B;
    line-height: 24px;
    font-size: 16px;
    font-family: "Inter-Medium", sans-serif;
    border: 2px solid #1A222B;
    border-radius: 8px;
    padding: 12px 20px;
    text-decoration: none;
  }

  .header__content__close {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .header__content__nav {
    width: 100vw;
    height: 100vh;
    background-color: #f2f4f8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10;
  }

  .header__content__nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__content__nav__item {
    margin: 0 0 20px 0;
  }

  .header__content__nav__link {
    font-size: 22px;
    line-height: 27px;
  }

  .header__content__social {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-right: 50px;
  }

  .header__content__social__tel {
    display: none;
  }

  .main__start__content__title {
    width: 100%;
  }

  .main__start__photo {
    display: none;
  }

  .main__sponsors {
    margin-bottom: 24px;
  }

  .main__sponsors-5 {
    display: none;
  }

  .main__change__title {
    width: 66.44%;
  }

  .main__change__text {
    width: 66.22%;
  }

  .main__change__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main__change__blocks__item {
    margin-bottom: 59px;
  }

  .main__change__blocks__item:nth-child(1) {
    margin-right: 0px;
  }

  .main__video__title {
    width: 66.44%;
  }

  .main__video__text {
    width: 66.22%;
  }

  .main__video__block__black img {
    width: 68.55%;
    height: auto;
  }

  .main__statistic {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .main__students__title {
    width: 66.44%;
  }

  .main__students__text {
    width: 66.22%;
  }

  .main__online__title {
    width: 66.44%;
  }

  .main__do__title {
    width: 66.44%;
  }

  .main__do__text {
    width: 66.22%;
  }

  .main__do__blocks {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main__do__blocks__item {
    margin-bottom: 20px;
  }

  .main__finish__content {
    width: 45%;
    top: 10%;
    right: 10%;
  }
}

@media (max-width: 900px) {
  .main__online__history {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main__online__history__img {
    margin-right: 0px;
    margin-bottom: 23px;
  }

  .main__finish__content {
    width: 360px;
  }

  .main__finish__content__text {
    margin: 16px 0 23px 0;
  }

  .footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .footer__block {
    margin-bottom: 30px;
  }
}

@media (max-width: 850px) {
  .main__students__text {
    margin-bottom: 41px;
  }

  .main__students__blocks__item {
    margin-bottom: 41px;
  }
}

@media (max-width: 810px) {
  .main__start__content__btn {
    margin-bottom: 32px;
  }

  .main__sponsors {
    margin: 0 auto;
    width: 400px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 790px) {
  .main__start {
    margin-bottom: 30px;
  }

  .main__start__content__title {
    font-size: 45px;
    line-height: 40px;
  }

  .main__start__content__text {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 55px;
  }

  .main__start__content__btn {
    margin-bottom: 0px;
  }

  .main__sponsors {
    margin-bottom: 30px;
  }

  .main__change__ps {
    display: none;
  }

  .main__change__title {
    font-size: 45px;
    line-height: 36px;
  }

  .main__change__text {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 55px;
  }

  .main__change__blocks {
    margin-bottom: 0;
  }

  .main__video__ps {
    display: none;
  }

  .main__video__title {
    font-size: 45px;
    line-height: 36px;
  }

  .main__video__text {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 55px;
  }

  .main__video__block {
    height: 197px;
  }

  .main__video__block__black {
    height: 173px;
  }

  .main__video__block__black img {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }

  .main__statistic {
    display: none;
  }

  .main__video-2 {
    display: none;
  }

  .main__students {
    margin-bottom: 0;
  }

  .main__students__ps {
    display: none;
  }

  .main__students__title {
    font-size: 36px;
    line-height: 45px;
  }

  .main__students__text {
    font-size: 22px;
    line-height: 27px;
  }

  .main__online__ps {
    display: none;
  }

  .main__online__title {
    font-size: 36px;
    line-height: 45px;
  }

  .main__online__history {
    margin-bottom: 69px;
  }

  .main__online__history__content__avatar {
    margin-bottom: 15px;
  }

  .main__online__history__content__text {
    font-size: 14px;
    line-height: 20px;
  }

  .main__do__ps {
    display: none;
  }

  .main__do__title {
    font-size: 36px;
    line-height: 45px;
  }

  .main__do__text {
    font-size: 22px;
    line-height: 27px;
  }
}

@media (max-width: 750px) {
  .main__change__title {
    width: 98%;
  }

  .main__change__text {
    width: 100%;
  }

  .main__video__title {
    width: 100%;
  }

  .main__video__text {
    width: 100%;
  }

  .main__students__title {
    width: 100%;
  }

  .main__students__text {
    width: 100%;
  }

  .main__online__title {
    width: 100%;
  }

  .main__do__title {
    width: 100%;
  }

  .main__do__text {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 720px) {
  .main__do {
    margin-bottom: 67px;
  }

  .main__finish__content {
    right: 2%;
  }

  .main__finish__content__title {
    font-size: 27px;
    line-height: 32px;
  }

  .main__finish__content__text {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}

@media (max-width: 630px) {
  .main__finish {
    display: none;
  }
}

@media (max-width: 560px) {
  .main__online__history__img {
    width: 94%;
    height: auto;
  }

  .main__video__block__black img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 545px) {
  .header__content__social {
    margin-right: 10px;
  }
}

@media (max-width: 445px) {
  .header {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .header__content__open {
    margin-bottom: 20px;
  }
}

@media (max-width: 440px) {
  .main__change__blocks__item {
    width: 94%;
  }

  .main__change__blocks__item__img {
    width: 100%;
    height: auto;
  }

  .main__change__blocks__item__text {
    width: 100%;
  }
}

@media (max-width: 415px) {
  .main__sponsors {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .main__sponsors {
    width: 100%;
  }
}